<div class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column header-fluid text-white">
  <header class="mb-auto container d-flex flex-column justify-content-between h-100 ">
    <div class="d-flex justify-content-between">
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Главная</a>
        <a class="nav-link fw-bold py-1 px-0" href="#manifest">Манифест</a>
        <a class="nav-link fw-bold py-1 px-0" href="#">Контакты</a>
      </nav>
    </div>
    <div class="d-flex flex-column justify-content-start">
      <h1>{{ title }}</h1>
    </div>
    <div class="mb-3">
      <p class="my-0">Мы разные!</p>
      <p class="my-0">Мы равные!</p>
      <p class="my-0">Мы вместе!</p>
    </div>
  </header>
</div>
<main class="px-3 mt-5 text-dark">
  <div class="container manifest-block" id="manifest">
    <div class="row">
      <div class="col-12 col-lg-3">
        <h2>Манифест</h2>
      </div>
      <div class="col-12 col-lg-9">
        <ul class="p-0 m-0">
          <li>Мы ‒ коренные и новые жители Алматы ‒ объединились, чтобы в общении, труде и творчестве действовать на благо города и страны.</li>
          <li>Культура, традиции, язык Казахстана ‒ для нас настоящая ценность, которую мы искренне намерены беречь и развивать.</li>
          <li>Мы уважаем законы Республики Казахстан, готовы работать для того, чтобы Казахстан был самым современным и развитым государством, ориентированным на благо всех его жителей.</li>
          <li>Для нас первичны права и свободы каждого человека вне зависимости от его национальности и религиозных убеждений.</li>
          <li>Алматы ‒ это город с богатой историей сотрудничества разных людей из разных стран и обществ, историей гостеприимства, гармонии и дружеского сосуществования всех, для кого город стал родным местом. И мы намерены продолжать эту историю дальше.</li>
          <li>Мы намерены помогать тем, кто приехал в Алматы из других стран и из других городов и сел Казахстана, адаптироваться к жизни в нашем городе, стать полноправными участниками социальной, культурной и экономической жизни Алматы.</li>
          <li>Мы считаем, что люди ‒ это главное богатство. И каждый человек должен иметь возможность своим трудом, знанием и творчеством сделать жизнь в нашем городе лучше.</li>
        </ul>
      </div>
    </div>
  </div>
</main>
<p style="display: none;">123</p>
<footer class="mt-auto text-white-50">
</footer>
<router-outlet></router-outlet>
